.flex-direction {
  display: flex;
  flex-direction: column;
  align-items: center; }

.flex-row {
  display: flex;
  justify-content: center;
  align-items: center; }

*,
*::after,
*::before {
  box-sizing: inherit;
  padding: 0;
  margin: 0; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }
  @media only screen and (max-width: 68.7rem) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 43.125rem) {
    html {
      font-size: 50%; } }

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  height: 100vh;
  background-color: #ececec;
  padding: 3rem;
  overscroll-behavior-y: none; }

.btn {
  background-color: #d6dee0;
  border: none;
  cursor: pointer;
  border-radius: 3px; }
  .btn__form {
    width: 8rem;
    height: 2.1rem;
    padding: 0.3rem 0;
    justify-self: end;
    grid-column: 2/-1; }
    @media only screen and (max-width: 68.7rem) {
      .btn__form {
        width: 6rem; } }
    @media only screen and (max-width: 35.7rem) {
      .btn__form {
        width: 8rem; } }
  .btn__del, .btn__edit {
    padding: 0.3rem 1rem; }
  .btn__edit {
    background-color: #2d3439;
    color: #aaa; }

.leaflet-popup .leaflet-popup-content-wrapper {
  background-color: #2d3439;
  color: #ececec;
  border-radius: 5px;
  padding-right: 0.6rem; }

.leaflet-popup .leaflet-popup-content {
  font-size: 1.5rem; }

.leaflet-popup .leaflet-popup-tip {
  background-color: #2d3439; }

.running-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #00c46a; }

.cycling-popup .leaflet-popup-content-wrapper {
  border-left: 5px solid #ffb545; }

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 0.5fr 1fr; }
  @media only screen and (max-width: 68.7rem) {
    .container {
      grid-template-columns: 40% 1fr; } }
  @media only screen and (max-width: 35.7rem) {
    .container {
      grid-template-columns: 1fr;
      justify-content: center; } }
  @media only screen and (max-width: 22.25rem) {
    .container {
      justify-items: center; } }

.map {
  background-color: #aaa; }
  @media only screen and (max-width: 35.7rem) {
    .map {
      height: 100vh; } }
  @media only screen and (max-width: 22.25rem) {
    .map {
      width: 100%; } }

.sidebar {
  font-size: 1.4rem;
  font-weight: 600;
  background-color: #2d3439;
  padding: 2rem;
  gap: 2rem; }
  .sidebar__logo {
    width: 25%;
    margin-bottom: 3rem; }
  .sidebar__form {
    font-size: inherit;
    color: #d6dee0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    background-color: #42484d;
    padding: 2rem;
    margin-bottom: 1.75rem;
    border-radius: 10px;
    width: 100%;
    height: 14.25rem;
    opacity: 1;
    transition: all 0.7s; }
    @media only screen and (max-width: 68.7rem) {
      .sidebar__form {
        gap: 1rem;
        padding: 1rem; } }
    @media only screen and (max-width: 57rem) {
      .sidebar__form {
        display: flex;
        flex-direction: column;
        height: auto; } }
    @media only screen and (max-width: 35.7rem) {
      .sidebar__form {
        display: grid;
        gap: 2rem;
        padding: 2rem; } }
    @media only screen and (max-width: 22.25rem) {
      .sidebar__form {
        display: flex; } }
    .sidebar__form.hidden {
      transform: translateY(-30rem);
      opacity: 0;
      height: 0;
      padding: 0 2.25rem;
      margin-bottom: 0; }
    .sidebar__form.deactive {
      display: none; }
  .sidebar__list {
    width: 100%;
    border-radius: 10px;
    padding: 1.4rem;
    overflow-y: scroll;
    overflow-x: hidden;
    list-style: none;
    height: 70vh;
    gap: 2rem; }
    @media only screen and (max-width: 68.7rem) {
      .sidebar__list {
        padding: 1.4rem 0; } }
    .sidebar__list::-webkit-scrollbar {
      width: 0; }
  .sidebar__form-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem; }
    .sidebar__form-item--hidden {
      display: none; }
  .sidebar__input, .sidebar__select {
    width: 8rem;
    background-color: #d6dee0;
    padding: 0.1rem 0.4rem;
    border: none;
    border-radius: 3px; }
    @media only screen and (max-width: 68.7rem) {
      .sidebar__input, .sidebar__select {
        width: 6rem; } }
    @media only screen and (max-width: 35.7rem) {
      .sidebar__input, .sidebar__select {
        width: 8rem; } }
    .sidebar__input::placeholder, .sidebar__select::placeholder {
      color: #42484d; }
    .sidebar__input:focus, .sidebar__select:focus {
      background-color: #fff;
      outline: none; }
  .sidebar__copyright {
    margin-top: auto;
    font-size: 1.3rem;
    text-align: center;
    color: #aaa; }
  .sidebar__link {
    text-decoration: none;
    color: #d6dee0; }
  .sidebar__workout {
    background-color: #42484d;
    border-radius: 10px;
    padding: 1.5rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1.75rem;
    width: 100%;
    color: #ececec; }
    @media only screen and (max-width: 68.7rem) {
      .sidebar__workout {
        gap: 0.75rem 0.3rem; } }
    @media only screen and (max-width: 57rem) {
      .sidebar__workout {
        padding: 1.2rem;
        grid-template-columns: repeat(2, 1fr);
        justify-items: start; } }
    @media only screen and (max-width: 43.125rem) {
      .sidebar__workout {
        justify-items: center; } }
    @media only screen and (max-width: 35.7rem) {
      .sidebar__workout {
        grid-template-columns: repeat(4, 1fr); } }
    @media only screen and (max-width: 22.25rem) {
      .sidebar__workout {
        grid-template-columns: repeat(2, 1fr); } }
    .sidebar__workout--running, .sidebar__workout--cycling {
      border-left-width: 10px;
      border-left-style: solid; }
      @media only screen and (max-width: 68.7rem) {
        .sidebar__workout--running, .sidebar__workout--cycling {
          border-left-width: 5px; } }
    .sidebar__workout--running {
      border-color: #00c46a; }
    .sidebar__workout--cycling {
      border-color: #ffb545; }
    .sidebar__workout-title {
      font-size: 1.7rem;
      font-weight: 600;
      grid-column: 1 / 4;
      justify-self: start; }
      @media only screen and (max-width: 57rem) {
        .sidebar__workout-title {
          grid-column: 1/-1;
          grid-row: 1/2;
          font-size: 1.4rem; } }
      @media only screen and (max-width: 43.125rem) {
        .sidebar__workout-title {
          font-size: 1.2rem; } }
      @media only screen and (max-width: 35.7rem) {
        .sidebar__workout-title {
          font-size: 1.4rem; } }
    .sidebar__workout-details {
      gap: 0.8rem;
      width: 100%; }
      @media only screen and (max-width: 68.7rem) {
        .sidebar__workout-details {
          gap: 0.6rem; } }
      @media only screen and (max-width: 57rem) {
        .sidebar__workout-details {
          width: unset; } }
    .sidebar__workout-icon {
      font-size: 1.8rem; }
    .sidebar__workout-value {
      font-size: 1.5rem; }
    .sidebar__workout-unit {
      color: #aaa;
      font-weight: 800; }
    .sidebar__workout-edited-value {
      width: 4rem; }
    .sidebar__workout-icons {
      gap: 1rem;
      grid-column: 4/-1;
      grid-row: 1/2;
      display: inline-block;
      justify-self: end; }
      @media only screen and (max-width: 57rem) {
        .sidebar__workout-icons {
          grid-column: 2/-1; } }
    .sidebar__workout svg {
      width: 2rem;
      transition: all 0.5s; }
      .sidebar__workout svg:hover {
        color: rgba(237, 50, 50, 0.921); }
      @media only screen and (max-width: 57rem) {
        .sidebar__workout svg {
          width: 1.6rem; } }
    .sidebar__workout.delete {
      display: none; }
    .sidebar__workout-edit {
      width: 80%;
      margin: 0 auto;
      background-color: #aaa;
      padding: 1rem;
      border-radius: 10px;
      margin-bottom: 1.75rem;
      display: none;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 0.5rem;
      justify-items: center;
      align-items: center; }
      .sidebar__workout-edit input {
        width: 4rem; }
      .sidebar__workout-edit.reveal {
        display: grid; }
